%h1 Artworks
%dl
  - @artworks.each do |artwork|
    %li
      = "'" + artwork.name + "'"
      %ul
        = "Artist: " + artwork.artist
      %ul
        = "Year: " + artwork.year.to_s
      %ul
        = "Description: " + artwork.description

    -#  = link_to "Hide", "", class: 'hide', data: {'js-hide-link' => true}
