- content_for :head do
  %link{:href => "/assets/navheader.scss", :rel => "stylesheets"}/

%ul
  %li
    %a{:href => "/"} Home
  %li
    %a{:href => "artworks"} Artworks
  %li
    %a{:href => "addartwork"} New Artwork
  %li
    %a{:href => "contact"} Contact Us
